/* App */
.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

/* App-intro non-authenticated */
.App-intro {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: grey;
  transition: all 0.5s ease;
  position: relative;
}

/* App-intro authenticated */
.App-intro-signed {
  width: 100%; 
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all 1.5s ease;
  color: grey;
}

.App-intro-signed p{
  opacity: 0;
  animation: FadeIn 1.5s 1.2s forwards;
  color: rgb(48, 47, 47);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: height 1s ease;
}

.App-logo-signed {
  height: 50px;
  pointer-events: none;
  transition: height 1s ease;
}

.App-link-signed{
  color: #61dafb;
  opacity: 0;
  transform: translateY(-250px);
  animation: FadeIn 1s 1s forwards, FromTop 0.5s 1s forwards;
}

/* App-content non-authenticated */
.App-content {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease;
}

.App-link{
  color: #61dafb;
  transform: translateX(150%);
  animation: FromRight 0.5s forwards;
}


/* App-content authenticated */
.App-content-expanded {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: width 0.5s ease;
}

.login-section, .todo-list-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
  animation: FromRight 1s forwards;
}

.todo-list-section {
  background-color: #f0f0f0;
  opacity: 0;
  animation: FadeIn 1s 1s forwards;
}

.admin-view-section {
  /* Autres sections si nécessaire */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo{
    animation: App-logo-spin infinite 20s linear;
  }

  .App-logo-signed{
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes FadeIn {
 from {
  opacity: 0;
 }

 to {
  opacity: 1;
 }
}

@keyframes FromRight {
  from {
    transform: translateX(150%);
   }
  
   to {
    transform: translateX(0);
   }
}

@keyframes FromTop {
  from {
    transform: translateY(-250px);
   }
  
   to {
    transform: translateY(0);
   }
}

